*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
.dashboard-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  /* background: #f9f9f9; */
}

.sidebar {
  width: 256px;
  background:#ffffff;
  border-right: 2px solid #e2e8f0;
  display: flex;
  color: black;
  /* padding: 12px; */
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: space-between; /* keeps top + bottom parts fixed */
  position: fixed; /* stays pinned on the left */
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  padding: 15px;
}

.sidebar-header{
  height: 64px;
  padding: 0 24px;
  border-bottom:  2px solid #bec3c9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-icon {
    width: 32px;
    height: 32px;
    background: linear-gradient(135deg,#135dd4,#5194ff);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

.logo-text {
    font-size: 18px;
    font-weight: 100;
    /* color: ; */
}
.sidebar h2.logo {          /**/
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  letter-spacing: 1px;
  color: black;
}
.nav{
  flex: 1;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sidebar-button {
  display:flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #64748b;
  font-size: 14px;
  transition: all 0.2s ease;
  background: transparent;
  border: none;
  margin: 6px 0;
}

/* .sidebar button:hover{
  background: #536fec;
} */
.sidebar button.active {
  background: #3b82f6;
  color:#ffffff
}

.user-profile {
    border-top: 2px solid #bec3c9;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg,#5194ff,#135dd4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.user-info {
    flex: 1;
    min-width: 0;
    text-align: left;
}
.user-name {
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 2px;
}
.user-dept{
  font-size: 12px;
}
.user-major {
    font-size: 12px;
    color: black;
}


/* Main Content */
.main {
  /* flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; */
  margin-left: 250px; /* space for sidebar */
  flex-grow: 1;
  overflow-y: auto; /* only main area scrolls */
  height: 100vh;
  padding: 20px;
}
.tab{
  margin-top:65px;
}
.header {
    height: 64px;
    background: #ffffff;
    border-bottom: 2px solid #e2e8f0;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 256px; /* same as sidebar width */
    right: 0;
    height: 70px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    z-index: 10;
}
.header h1 {
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}
.logOut-btn{
  background-color: rgba(255, 0, 0, 0.842);
  border-radius: 8px;
  border:0px;
  padding: 5px;
  padding-left: 20px; padding-right: 20px;
  color:#e2e8f0;
  height:40px;
  font-weight: bolder;
  font-size: 13px;
}
.logOut-btn:hover {
  box-shadow:  0 -1px 4px rgb(0, 0, 0);
  transform: scale(1.00001);
  background-color: rgb(255, 0, 0);
}
.card {
  background: #fff;
  border-radius: 16px;
  box-shadow:
    0 -4px 6px rgba(0, 0, 0, 0.1),
    0 -12px 24px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  padding: 20px;
  margin:20px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}
.std-card{
  background: #fff;
  border-radius: 16px;
  box-shadow:
    0 -4px 6px rgba(0, 0, 0, 0.1),
    0 -12px 24px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  padding: 15px;
  margin:10px;

}
.profile-section{
  margin-top: 70px;
  margin-left: 25px;
}
.profile-detail-container{
  display: flex;
  border: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.profile-field{
  text-align: right;
  margin-left: 25px;
}
.profile-value{
  margin-left: 15px;
  text-align: left;
}
.profile-card, .summary {
  background: #c2bfbf9d;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 35px;
  width: 500px;
  /* border: 2px solid black; */
  box-shadow: 0px 4px 6px;
  margin-top: 20px;
}
.profile-card h3{
  padding-left: 20px;
  background-color: #135dd4;
  border:2px solid black;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  color:#ffffff;
}
.course-title{
  padding-left: 10px;
  padding-bottom: 3px;
  background: #c2bfbf9d;
  border: 2px solid black;
  width: 700px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* color:white; */
}
.course-table{
  width: 100%;
  border-collapse: collapse;
}
.course-table th, .course-table td{
  border: 1px solid #a09b9b;
  padding: 8px;
  text-align: center;
  background-color: #f5f5f5;
}
.course-details{
  border: 2px solid black;
  margin-bottom: 20px;
  width: 700px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.upload-result{
  display: flex;
  gap: 6px;

}

.result-section{
  margin-top: 70px;
  margin-left: 25px;
}
.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


.result-table th, .result-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.pass { color: green; font-weight: bold; }
.fail { color: red; font-weight: bold; }


.print-btn {
  background: #8ebce9;
  color: black;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}
.save-btn{
  background: #8ebce9;
  color: black;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}
.result-btn:hover, .print-btn:hover, .save-btn:hover{
  background: #2196F3;
}

.result-detail{
  margin-top: 10px;
  width:800px;
}

.grade-f {
  color: red;
  font-weight: bold;
}
.result-control-btn{
  display: flex;
  gap: 20px;
  margin-left: 20px;
}
.back-btn{
  background: transparent;
  color:black; /* blue text */
  border: none;
  /* padding: 8px 16px; */
  padding-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease;
}
.back-btn:hover {
  color: #0056b3;
  text-decoration: underline;
  transform: translateX(-2px);
}
.back-btn:active {
  opacity: 0.8;
}
@media print {
  body * {
    visibility: hidden;
  }

  #profileSection,
  #resultSection {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .print-btn,
  .tab-buttons {
    display: none;
  }
}

.print-container h2{
  margin-top: 40px;
  margin-bottom: 20px;
}
.print-info{
  display: flex;
  border-radius: 12px;
  border: 2px solid black;
  padding-bottom: 10px;
  padding-top: 5px;
}
.print-field{
  text-align: right;
  margin-left: 40px;
}
.print-value{
  padding-left: 10px;
}
.print-detail{
  margin-top: 30px;
  width:800px;
  border: 2px solid black;
  margin-bottom: 20px;
}
.print-table {
  width: 100%;
  border-collapse: collapse;

}
.save-page{
  width:800px;
}

.print-table th, .print-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.print-summary{
  background: #c2bfbf9d;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 35px;
  width: 500px;
  border: 2px solid black;
  margin-top: 20px;
}

.save-info{
  display: flex;
  border-radius: 12px;
  border: 2px solid black;
  padding-bottom: 10px;
  padding-top: 5px;
  width:700px;
}
#print-page, #save-page{
  display: none;
}
@media print {
  #dashboard-container,
  #save-page {
    display: none !important;
  }

  #print-page {
    display: block !important;
  }
}
.result-btn {
  padding: 10px 18px;
  border-radius: 6px;
  background: #1976D2;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px; 
}

.result-btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  border:2px solid red;
}
.result-btn.active {
  border:2px solid rgb(7, 185, 7);
}
.result-active-text{
  color:rgb(7, 185, 7);
  font-weight: bold;
}
.result-disabled-text{
  color:red;
  font-weight: bold;
}
.profile-result-button{
  display:flex;
  gap:6px;
}