*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
.dashboard-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  /* background: #f9f9f9; */
}

.sidebar {
  width: 256px;
  background: #4C763B;
  border-right: 1px solid #e2e8f0;
  display: flex;
  color: white;
  /* padding: 12px; */
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: space-between; /* keeps top + bottom parts fixed */
  position: fixed; /* stays pinned on the left */
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  padding: 15px;
}

.sidebar-header{
  height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-icon {
    width: 32px;
    height: 32px;
    background: linear-gradient(135deg, #0f5f28, #000000);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B0CE88;
}

.logo-text {
    font-size: 18px;
    font-weight: 100;
    /* color: ; */
}
.sidebar h2.logo {          /**/
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  letter-spacing: 1px;
  color: #ecf0f1;
}
.nav{
  flex: 1;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sidebar-button {
  display:flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 14px;
  transition: all 0.2s ease;
  background: transparent;
  border: none;
  margin: 6px 0;
}

.sidebar button:hover{
  background: #1f5705;
}
.sidebar button.active {
  background: #043915;
}
.export{
  display:flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 14px;
  transition: all 0.2s ease;
  background: #043915;
  border: none;
  margin:20px;
  margin-bottom: 25px;
  justify-content: center;
  /* margin-right:px; */
}
.user-profile {
    border-top: 1px solid #e2e8f0;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 12px;;
}
.user-avatar {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #000000,#0f5f28);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.user-info {
    flex: 1;
    min-width: 0;
    text-align: left;
}
.user-name {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 2px;
}
.user-major {
    font-size: 12px;
    color: #e2e8f0;
}


/* Main Content */
.main {
  /* flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; */
  margin-left: 250px; /* space for sidebar */
  flex-grow: 1;
  overflow-y: auto; /* only main area scrolls */
  height: 100vh;
  padding: 20px;
}
.tab{
  margin-top:65px;
}
.header {
    height: 64px;
    background: #4C763B;
    border-bottom: 1px solid #e2e8f0;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 256px; /* same as sidebar width */
    right: 0;
    height: 70px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    z-index: 10;
}
.header h1 {
    font-size: 20px;
    font-weight: 500;
    color: #e2e8f0;
}
.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}
.logOut-btn{
  background-color: rgba(255, 0, 0, 0.842);
  border-radius: 8px;
  border:0px;
  padding: 5px;
  padding-left: 20px; padding-right: 20px;
  color:#e2e8f0;
  height:40px;
  font-weight: bolder;
  font-size: 13px;
}
.logOut-btn:hover {
  box-shadow: inset
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 12px 24px rgba(0, 0, 0, 0.15);
  transform: scale(1.00001);
}
.card {
  /* background: transparent;
  padding: 20px;
  margin:20px;
  border-radius: 8px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
  padding-bottom: 50px; */
  background: #fff;
  border-radius: 16px;
  box-shadow:
    0 -4px 6px rgba(0, 0, 0, 0.1),
    0 -12px 24px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  padding: 20px;
  margin:20px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}
.std-card{
  background: #fff;
  border-radius: 16px;
  box-shadow:
    0 -4px 6px rgba(0, 0, 0, 0.1),
    0 -12px 24px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  padding: 15px;
  margin:10px;

}
/* .card:hover {
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 12px 24px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
} */
.overview-section {
    margin-bottom: 32px;
}
.overview-section h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 8px;
}
.overview-section p {
    color: #64748b;
    font-size: 16px;
}
.card h3{
    color: #1e293b;
    margin-bottom: 8px;
}
.quick-actions {
    margin-top: 25px;
    padding-left: 20px;
}

.quick-actions h3 {
    font-size: 18px;
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 16px;
}

.action-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.action-btn {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f1f5f9;
    color: #1e293b;
    border: 1px solid #e2e8f0;
}

.action-btn:hover {
  background: #e2e8f0;
}
.main-header {
  margin-bottom: 32px;
  padding: 10px;
  margin:20px;
}
.main-header h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 8px;
}
.main-header p {
    color: #64748b;
    font-size: 16px;
}
/* Top Controls (Search + Filter) */
.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  gap: 10px;
  color: #1e293b;
}

.top-controls label,
.search-bar {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #1e293b;
}

.search-bar input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  transition: border 0.2s, box-shadow 0.2s;
}

.search-bar input:focus {
  border-color: #3498db;
  box-shadow: 0 0 4px rgba(52,152,219,0.4);
}

.filter{
  padding: 1px 2px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
}
.filter option{
  color: #333;
  background-color: #fff;
  font-size: 14px;
}
/* Table */
.table-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-bottom: 10px; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.table-header h2{
  color:black;
  font-size:23px;

}
.card hr{
  margin-bottom: 8px;
}
.std-card hr{
  margin-bottom: 8px;
}
.add-std-btn{
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 520;
  cursor: pointer;
  background-color: #e2e8f0;
  color: black;
  border: 1px solid  #0f5f28;
  margin-bottom: 20px;
}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
.styled-table thead {
  position: sticky;
  top: 0; /* stick to top of scroll container */
  z-index: 5; /* ensure it’s above table body */
  background-color: #f4f6f8; /* dark background for header */

}
.styled-table th, .styled-table td {
  padding: 7px;
  text-align: left;
}

.styled-table tbody {
  display: block;
  max-height: 549px; /* set scrollable height for table body */
  overflow-y: auto;
  width: 100%;
}

.styled-table thead,
.styled-table tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.styled-table tr:nth-child(even) {
  background-color: #f9fafb;
}
.styled-table th:hover {
  background: #eaecee;
}

.styled-table tr:nth-child(even) {
  background: #fafafa;
}

/* Buttons */
.btn {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  margin-right: 4px;
}

.btn.primary { background: #3498db; color: white; }
.btn.secondary { background: #9b59b6; color: white; }
.btn.success { background: #27ae60; color: white; }
.btn.danger { background: #e74c3c; color: white; }
.btn.cancel { background: #7f8c8d; color: white; }

.btn:hover {
  opacity: 0.9;
}

.stats-grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.stat-card {
  flex: 1;
  background: #B0CE88;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.stat-card h3 {
  font-size: 2rem;
  margin: 0;
  color: #2a5298;
}

.stat-card p {
  margin: 5px 0 0;
  color: #474545;
}

.toast-container {
  position: fixed;
  top: 80px;
  right: 50px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  padding: 15px 18px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 7px 6px rgba(0,0,0,0.15);
  animation: slideIn 0.3s ease, fadeOut 0.3s ease 2.7s forwards;
}

/* Colors */
.toast.success { background: #10c215; }
.toast.error   { background: #f44336; }
.toast.info    { background: #2196f3; }

/* Animations */
@keyframes slideIn {
  from { opacity: 0; transform: translateX(100%); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateX(100%); }
}

.activity-log-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;

  /* list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px; */
}
.activity-log-table thead {
  position: sticky;
  top: 0; /* stick to top of scroll container */
  z-index: 5; /* ensure it’s above table body */
  background-color: #f4f6f8;
}
.activity-log-table th, .activity-log-table td {
  padding: 7px;
  text-align: left;
}

.activity-log-table tbody {
  display: block;
  max-height: 550px; /* set scrollable height for table body */
  overflow-y: auto;
  width: 100%;
  padding: 8px 10px;
  border-bottom: 1px solid #eee;
}

.activity-log-table thead,
.activity-log-table tbody tr {
  display: table;
  table-layout: fixed;
  width: 80%;
}

.activity-log-table tr:nth-child(even) {
  background-color: #f9fafb;
}
.activity-log-table tr:nth-child(even) {
  background: #fafafa;
}

.activity-log-table .time {
  font-size: 0.85rem;
  color: #888;
  margin-right: 10px;
  min-width: 70px;
}

.activity-log-table .msg {
  color: #333;

}

.student-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.form-actions {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.add-form-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.add-form-btn.success {
  background-color: #28a745;
  color: white;
}

.add-form-btn.secondary {
  background-color: #6c757d;
  color: white;
  margin-left: 10px;
}

.add-form-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.note-card{
  flex: 1;
  background: #B0CE88;
  border-radius: 12px;
  padding: 15px;
  box-shadow:
    0 -4px 6px rgba(0, 0, 0, 0.1),
    0 -12px 24px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  margin:10px;
  margin-top: 30px;
}
.note-title{
  font-weight: 700;
}
.note-label-group{
  margin-left: 25px;
}
.note-label{
  font-size: 15px;
}
input[readonly] {
  background-color: #f9f9f9a6;
  color: #747272;
  cursor: not-allowed;
}
.clear-filter {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 80px;
}

.clear-filter:hover {
  background-color: #d32f2f;
}

.results-section {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.results-section h2 {
  margin-bottom: 15px;
  color: #333;
}

.pass {
  color: green;
  font-weight: bold;
}

.fail {
  color: red;
  font-weight: bold;
}

.view-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.view-btn:hover {
  background-color: #0b7dda;
}
.grade-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    max-width: 1500px;
}
.panel {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
}
.upload-panel{
  width:425px;
}
.panel h3 {
    font-size: 18px;
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 16px;
}

.grade-search {
    grid-column: 1;
    width:1180px;
}
.grade-update{
  grid-column: 2;
}
.grade-dept{
  margin-left: 15px;
  margin-right: 20px;
}
.grade-filter-control{
margin-bottom: 10px;
}
.edit-grade{
  width:90px;
  height:25px;
  font-size: 12px;
}

.subject-row {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.subject-row input {
  width: 60px;
}

.student-grades {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.student-card {
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 20px;
    background: #f8fafc;
}

.student-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 12px;
    border-bottom: 3px solid #e2e8f0;
}

.student-header h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1e293b;
}

.student-year {
    font-size: 12px;
    color: #64748b;
    background: #e2e8f0;
    padding: 4px 8px;
    border-radius: 4px;
}
.grade-inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
    border-bottom: 3px solid #e2e8f0;
    padding-bottom: 15px;
}

.grade-row {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    padding: 8px 0;
}

.course-name {
    font-size: 15px;
    color: #1e293b;
    flex: 1;
}

.grade-controls {
    display: flex;
    gap: 8px;
    align-items: center;
}

.grade-input {
    width: 80px;
    padding: 6px 8px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    font-size: 14px;
}
.grade-select {
    width: 60px;
    padding: 6px 8px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    font-size: 14px;
}

.results-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result-filters {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 15px;
}

.result-input,
.result-select {
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.result-panel {
  margin-top: 1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: -10px -10px 10px rgba(0,0,0,0.1),10px 10px 10px rgba(0,0,0,0.1);
  margin-left:80px;
  width:1500px;
}

.summary {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  border-top: 2px solid #e2e8f0;
}
.summary p{
  /* border:2px solid black; */
  /* border-right: 2px solid black; */
  width:100%;
}
.result-table{
  margin-left:25px;
  width:1200px;
}
.result-header {
  margin-bottom: 32px;
  padding: 10px;
  margin:20px;
  margin-top: 60px;
}
.result-header h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 8px;
}
.result-header p {
    color: #64748b;
    font-size: 16px;
}
.inner{
  margin-top: 15px;
}
.status-pass {
  color: rgb(9, 194, 9);
  font-weight: 600;
}

.status-fail {
  color: red;
  font-weight: 600;
}


/* student-popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-box {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

  animation: fadeIn 0.3s ease-in-out;
}
.popup-box h3{
  text-align: center;
}
.popup-content{
  background-color:#ccc;
  border-radius: 15px;
  padding:15px;
  display: flex;
  margin-top: 10px;
}
.popup-content p {
  margin: 6px 0;
  font-size: 15px;
}
.popup-field{
  text-align: right;
}
.popup-value{
  margin-left: 5px;
}
.popup-btn {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.popup-btn-container{
  justify-content: center;
  display: flex;
}
.popup-btn:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

/* grade-status */
.pending {
  color: red;
  font-weight: bold;
}

.done {
  color: green;
  font-weight: bold;
}

/* pending-switch */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin-left: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When checked */
.pending-btn:checked + .slider {
  background-color: #4CAF50;
}

.pending-btn:checked + .slider:before {
  transform: translateX(22px);
}







.dept-course-container {
  padding: 20px;
}

.department-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.department-card h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.course-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.course-table th, .course-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.course-table th {
  background-color: #f8f9fa;
  text-align: left;
}

.no-course {
  font-style: italic;
  color: #777;
}

.semester-block {
  margin-top: 15px;
  background: #f9f9f9;
  padding: 10px 15px;
  border-radius: 10px;
  width:50%;
  border: 1px solid grey;
  /* margin: 5px; */
}
.semester-outer-block{
  display: flex;
  gap: 20px;
}
.semester-block h4 {
  margin-bottom: 8px;
  color: #444;
}
.view-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}
.manage-result:disabled{
  cursor: not-allowed;
  opacity: 0.45;
}
/* grade-management-table */
.grade-styled-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
.grade-styled-table thead {
  position: sticky;
  top: 0; 
  z-index: 5;
  background-color: #f4f6f8;

}
.grade-styled-table th, .grade-styled-table td {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left;
}

.grade-styled-table tbody {
  display: block;
  max-height: 549px; 
  overflow-y: auto;
  width: 100%;
}

.grade-styled-table thead,
.grade-styled-table tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.grade-styled-table thead th{
  width: 10px;
}
.grade-styled-table tr:nth-child(even) {
  background-color: #f9fafb;
}
.grade-styled-table tr:nth-child(even) {
  background: #fafafa;
}