* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 50px rgba(171, 125, 39, 0.875);
  width: 350px;
  border:2px solid #eef4b9;
  background: linear-gradient(135deg, #82b0ec, #acec77);
}

.login-box h2 {
  margin-bottom: 25px;
  color: black;
  text-align: center;
  font-size: 29px;
}

.input-box {
  margin-bottom: 20px;
  text-align: center;
}

.input-box label {
  color: #0e0707;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.login-div{
  text-align: center;
}
.login-btn {
  width: 80%;
  padding: 12px;
  background-color: #043915;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 8%;
}

.login-btn:hover {
  background-color: #4C763B;
}

.bottom-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.bottom-text a {
  color: #3498db;
  text-decoration: none;
}

.bottom-text a:hover {
  text-decoration: underline;
}

.link-btn {
  background: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  font-size: 14px;
  color: #043915;
  border: none;
}
.link-btn:hover {
text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

